<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8" />
		<title>This is Home Page</title>
	</head>
	<body>
		<section class="banner d-flex justify-center-center align items-center">
			<div class="banner2">
				<h1 class="font-weight-bold">Smart Contact Manager</h1>
				
				<p class="text-center">Start Collecting Your Contacts in very Smarter Way
                   We Provide very efficient and Smarter Way of handling Contacts	
				</p>
				
				<button class="btn bg-primary btn-Lg text-white">Start</button>
			</div>
		</section>
	</body>
</html>